
.App {
  text-align: center;
}

*{
  margin: 0%;
  padding: 0%;
}


body{
  background-image: url("https://pagecdn.io/lib/subtlepatterns/hexabump.png");
  
}
.container{
  display:inline;
}

h1{
  color: white;
  margin-right:90px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

.Random{
  padding-top: 2em;
  padding-bottom: 2em;
}

.Wrapper{
  margin-left: 20%;
  margin-bottom: 3%;
}
.Cards{
  color:darkred;
  width: 60%; 
  margin: 0 auto;
  /* flex: 0 0 25%; */
  display: grid;
  grid-gap: 1rem;
}
.btn{
  margin-right: 72px;
  margin-bottom: 40px;
  color: white !important;
}

.avatar {
  width: 140px;
  margin: auto;
}
.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
  width: 90%;
}


@media (min-width: 600px) {
  .cards {
    grid-template-rows: repeat(2, 1fr);
  }
}
 
@media (min-width: 900px) {
  .cards {
    grid-template-rows: repeat(3, 1fr);
  }
}
